<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>QandA - Free Django Questions and Answer App</title>
    
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'qanda/style.css' %}" />

<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'qanda/vendor/bootstrap/css/bootstrap.min.css' %}" />
 
<link href="{% static 'qanda/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">    
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
</head>

 <body id="page-top">
 
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'qanda:index'%}">QandA</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'qanda:displayaddquestion'%}">Ask Question</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
   
     <!-- Questions List -->
    <section id="questions">
      <div class="container">
      {% if latest_question_list %}
        <div class="row">
          <div class="col-xs-12 text-center">
            <h2 class="section-heading text-uppercase">Search Results</h2>
            <h4 class="service-heading">Click on a question to view it</h4>
          </div>
        </div>
        {{ value|linebreaks }}
        {{ value|linebreaks }}             
        <ul>
        {% for question in latest_question_list %}  
          <div class="row">     	
        	 	<div class="col-xs-12">
        	 		<div class="row">
        	 			<button type="submit" class="btn btn-vote" id="upvotebutton{{ forloop.counter }}" data-questionid="{{ question.id }}"><i class="fa fa-arrow-up"></i></button>
        	 		</div>
        	 		<div class="row">
        	 			<button type="button" class="btn btn-vote" disabled>{{question.votes}}</button>
        	 		    <div class="col-xs-6 text-left">
        	 				<ul><h4 class="service-heading"><a href="{% url 'qanda:detail' question.id %}">{{ question.question_name }}</a></ul></h4>
        	 			</div>
        	 		  </div>
        	 		<div class="row">
        	 			<button type="submit" class="btn btn-vote" id="downvotebutton{{ forloop.counter }}" data-questionid="{{ question.id }}"><i class="fa fa-arrow-down"></i></button>
        	 		</div>
        	 	</div>	
          </div>
        {{ value|linebreaks }}
        {% endfor %}
        </ul>
        {% else %}
          <div class="row">
          	<div class="col-xs-12 text-center">
            	<h2 class="section-heading text-uppercase">No Questions Match Search</h2>
          	</div>
          </div>
        {% endif %}
        
       <div class="row">
        	<div class="col-xs-12 text-center">
        	    {{ value|linebreaks }}
           	    {{ value|linebreaks }}
         		<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'qanda:index'%}">Home</a> 
        	</div>
        </div>
        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-placement="right" style="float: right;"><span class="fa fa-arrow-up"></span></a>
      </div>
    </section>
        
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Boris Misljencevic 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
          
              <li class="list-inline-item">
                <a href="https://www.facebook.com/bmisljen/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/boris-misljencevic-775583108/">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
        
	<!-- Bootstrap core JavaScript -->
 	<script src="{% static 'qanda/vendor/jquery/jquery.min.js' %}"></script>
 	<script src="{% static 'qanda/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	<!-- Plugin JavaScript -->
	<script src="{% static 'qanda/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

 	<!-- Custom scripts for this template -->
    <script src="{% static 'qanda/js/agency.js' %}"></script>
  </body>
 </html>